[Desktop Entry]
Name=ProtonVPN
GenericName=ProtonVPN GUI
Exec=protonvpn-gui
Icon=protonvpn-gui
Type=Application
Terminal=false
Categories=Utility;Network